.env
passportBackend/__pycache__/
polls/__pycache__/
polls/migrations/__pycache__/
polls/testsAll/__pycache__/
polls/viewsAll/__pycache__/
polls/serializers/__pycache__/
polls/permissions/__pycache__/
polls/testsAll/requestsToken/__pycache__/
polls/signalsAll/__pycache__/
polls/serializers/s0_djoser/__pycache__/
polls/serializers/fs0_passportApplications/__pycache__/
polls/viewsAll/fv0_passportApplications/__pycache__/
uploads
polls/permissions/p7_PassportPermissions/__pycache__/
polls/permissions/p0_CommonPassportPermissions/__pycache__/
polls/permissions/p8_UserAddressPermissions/__pycache__/
polls/permissions/p9_UserPhonePermissions/__pycache__/
polls/permissions/p6_CityzensPermissions/__pycache__/
polls/scheduleTasksPassport/__pycache__/
.celerybeat.service.swp
celerybeat-schedule
polls/adminAll/__pycache__/